$dark-color: hsl(240, 19%, 15%);
$medium-color: hsl(240, 20%, 22%);
$primary-color: hsl(184, 84%, 56%);
$light-color: hsl(0, 0%, 100%);
$page-width: 1245px;
//font-family: 'Roboto', sans-serif;
//font-family: "Ubuntu", sans-serif;
