@import "config";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

//utilities
.inner-container {
  max-width: 1245px;
  margin: auto;
}

//header
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: $dark-color;
  padding: 0.5rem 0;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  &__link {
    display: inline-block;
    color: $light-color;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;

    &--border {
      border: 1px solid $light-color;
    }

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
      transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
    }
  }
}
@media (max-width: 600px) {
  .nav-links {
    justify-content: center;
    align-items: center;
  }
}

//Hero Section
.hero-section {
  display: flex;
  height: 90vh;
  margin-top: 4.9rem;
  justify-content: center;
  align-items: center;
  background: $dark-color;
  font-family: "Ubuntu", sans-serif;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    border-radius: 50%;
    width: 14rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: 400;
    color: $primary-color;
  }

  &__description {
    font-size: 24px;
    color: $light-color;
  }
}

@media (max-width: 600px) {
  .hero-content {
    &__title {
      font-size: 3rem;
    }
  }
}

//Projects
.projects {
  background: $medium-color;
  min-height: 90vh;
  font-family: "Ubuntu", sans-serif;

  &__title {
    text-align: center;
    padding: 1rem 0;
    color: $primary-color;
    font-size: 3rem;
  }
}
.projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card {
  background: $dark-color;
  padding: 2rem 1rem;
  min-height: 20rem;
  text-align: center;
  margin-bottom: 1rem;

  &__title {
    color: $primary-color;
    font-size: 1.7rem;
    line-height: 2;
    text-transform: capitalize;
  }

  &__description {
    color: $light-color;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
}
.button {
  display: inline-block;
  color: $light-color;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: 1px solid $light-color;

  &:hover {
    transition: border 0.5s ease-in-out, color 0.5s ease-in-out;
    color: $primary-color;
    border-color: $primary-color;
  }
}

@media (max-width: 800px) {
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
  }
}

@media (max-width: 600px) {
  .projects-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .card {
    padding: 1rem 0;
    width: 100%;
  }
}

//Services
.services {
  background: $dark-color;
  text-align: center;
  font-family: "Ubuntu", sans-serif;

  &__title {
    text-align: center;
    padding: 1rem 0;
    color: $primary-color;
    font-size: 3rem;
  }
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.service {
  background: $medium-color;
  padding: 2rem 0.5rem;
  color: $light-color;

  &__title {
    color: $primary-color;
    font-size: 1.7rem;
    line-height: 2;
  }
}
@media (max-width: 800px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
  }
  .service {
    &__title {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .service {
    padding: 1rem 0;
  }
}
